name: installer-release-pullrequest

on:
  pull_request:
    paths:
      - 'installer/**'
      - '.github/workflows/installer-release-pullrequest.yaml'
    branches:
      - main
  workflow_dispatch:

env:
  MODULE: installer
  GHCR_REPO: ghcr.io/${{ github.repository }}

jobs:
  build-and-push:
    name: Build and NOT Push Multi-Arch Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version
        run: |
          VERSION=${GITHUB_REF#refs/tags/${{ env.MODULE }}/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "LATEST_TAG=latest" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_REPO }}/${{ env.MODULE }}
          tags: |
            type=raw,value=${{ env.VERSION }}
            type=raw,value=${{ env.LATEST_TAG }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build and NOT push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ env.MODULE }}
          file: ./${{ env.MODULE }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}